<div class="container">
  <div class="movie-details">
  <div class="movie-poster">
    <img src="{{%POSTER%}}" alt="Movie Poster" class="poster-image" />
  </div>
  <div class="movie-info">
    <h2 class="movie-title">{{%TITLE%}}</h2>
    <p class="movie-genre">{{%GENRE%}} </p>
    <p class="movie-release-date">  {{%YEAR%}}</p>
    <p class="movie-rating">{{%RATING%}}</p>
    <p class="movie-description">
      {{%DESCRIPTION%}}
    </p>
    <button class="watch-trailer-btn">Watch Trailer</button>
  </div>
</div>
</div>


